<html lang="en">
<div class="create-blog content">
    <form action="/update" method="POST">
      <label for="groupname">Group name:</label>
      <input type="text" id="groupname" name="groupname" required>
      <button>Submit</button>
    </form>
  </div>

</body>
</html>