<html lang="en">
<div class="user-login content">
    <div>User Login</div>
    
    <form action="login" method="POST">
      <!-- <label for="username">Group name:</label> -->
      <input type="text" id="username" name="username" required placeholder='Username'/>
      <input type="text" id="password" name="password" required placeholder='Password'/>
      <button>Submit</button>
    </form>
  </div>

</body>
</html>